<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="CONSTR" value="Data Source=DESKTOP;Initial Catalog=dbEMPAtt;Integrated Security=True"/>
    <!--<add key="CONSTR" value="Data source=149.202.94.68;Database=dbEMPAtt;Uid=emp@att;Password=empatt@1989##;timeout=0"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
