<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="CONSTR" value="Data Source=DESKTOP;Initial Catalog=dbEMPAtt;Integrated Security=True"/>
    <!--<add key="CONSTR" value="Data Source=51.255.68.116;Database=jhakaas;uid=JhakaasUsr;PWD=JhUs#$789#VJPTx1"/>-->
    <!--<add key="CONSTR" value="Data Source=51.255.68.116;Database=uatjhakaas;uid=uatJhakaasUsr;PWD=uat#@Jhakaas1x"/>-->
    <!--<add key="CONSTR" value="User ID=AWSjhakaas;Password=Jahkaas##x1234;Initial Catalog=jhakass;Data Source=jahkaas-prod-db.cwv0a2sobvpf.ap-south-1.rds.amazonaws.com"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
